# Node
node_modules/
.npmrc
npm-debug.log*

# Logs
logs
*.log

# Build outputs
/dist/
/build/
/out/
/build/
tsconfig.main.tsbuildinfo
tsconfig.renderer.tsbuildinfo

# Vite/Electron caches
.vite/
.cache/
.electron/
.eslintcache

# Editor
.vscode/
.idea/
.DS_Store

# Env files
.env
.env.*